* {
    box-sizing: border-box;
    margin: 0;
}

html, body, #root, .App, .container {
    height: 100%;
}

body {
    background-color: #8de08b;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: #3cc236;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center}

th, td {
    padding: 5px;
}